<html>
<head><title>agastock 美股</title></head>
  <link rel="stylesheet" type="text/css" href="/static/style.css"/>
  <body>
  <h1><a href="/tw">台股分析</a>&nbsp&nbsp&nbsp<a href="/us">美股分析</a></h1>
  製表時間(台灣時區): {{csv_update_time_str}}，股價更新時間(美國時區): {{price_update_time_str}}
  
  {% autoescape false %}
  <p>{{ html_stock_table }}</P>
  {% endautoescape %}

  <p>*成交金額： 單位為美金百萬（10的六次方）<br>
     *成交量： 單位為千股（10的三次方）<br>
     *股價: 取自 Yahoo Finance，美股無延遲<br>
     *G-Trend： Google Trend 每週統計搜尋數量，急降代表股價即將下殺, 適用於熱門股. 數值為此股票相對歷史的高度, 不同股票間不能比較<br>
     *G-Trend漲跌： 以週為單位，今天的MA7和七天前MA7比較<br>
     *布林位置： 當前股價距20日布林通道下緣的比例，小於0%可以買. 布林寬度大於 10% 才顯示布林位置<br>
     *EPS: 過去12個月累積的每股盈餘，應該是以月為單位，不像台股是季為單位. 資料和財報狗近四季EPS相近<br>
     *EPS預估: 在 Yahoo Finance，顯示於 Current Estimate 的 next year 區塊<br>
     *本益比預估: 由 yFinance 讀出，但 Yahoo Finance 網頁沒找到此資料<br>
     *EPS，本益比，預估等資料都來自Yahoo Finance<br>
     *不確定性大的公司可看本益比(Trailing P/E) ，不確定性小的公司可看預估本益比(Forward P/E) ，快速成長公司兩者都看<br>.
  </p>
  <p>
     <a target='_blank' href='{{ html_global_log_file }}''>*us log file</a><br>
  </p>  
  {% autoescape false %}
  <p><font color='#00A600'>{{ html_global_warn }}</font></P>
  {% endautoescape %}
  </body>
</html>

